# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=a427de50a28c265f4f79728670f88a15cce4217a5191c22f2bc6cd5932d9caf4ea2062c602c3977d476084ded83e9fae845a5bdc7d144ee4b04c2ec61e37d75e
REDIS_URL=redis://localhost:6379/8
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
